/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}
body {
    font-family: ´arial´, sans-serif;
    line-height: 1.6;
    color: #333;
    background: white;
    
}

/*Navbar*/
.navbar {
display: flex;
justify-content: center;
align-items: center;
padding: 1rem 10rem;
background-color: black;
color: white;
position:sticky;
top: 0;
z-index: 1000;
}

.navbar .logo{
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;

}
.nav-links a {
text-decoration: none;
color: white;
transition: color 0.3s;
}
.nav-links a:hover{
    color: #4d4d4d;

}
.burger {
    display: none;
    flex-direction: column;
    gap: 0.3rem;
    cursor: pointer;
}
.burger span {
width: 25px;
height: 3px;
background: white;

}
/* paguina principal-Hero section */
.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 85vh;
    background: lightgray no-repeat center/cover;
    color: black;
    text-align: center;
    padding: 2rem;
    background-image: url(https://scontent.fcjs4-1.fna.fbcdn.net/v/t39.30808-6/420820944_8015260711822033_8274808615097292499_n.jpg?stp=dst-jpg_s960x960_tt6&_nc_cat=102&ccb=1-7&_nc_sid=cc71e4&_nc_ohc=nwzLqM_r5t4Q7kNvgFBz5AL&_nc_oc=AdkdYRYG-ioS_eTbke7OQp87oa-8Qtf3afFzwifVN10v_TJBKCTOv-ldqfGhoAn5Re3Yic9Q0kbQmKOrfu703V9c&_nc_zt=23&_nc_ht=scontent.fcjs4-1.fna&_nc_gid=iQ6LCMGwO7Uo75-CYjT_Fg&oh=00_AYHkZoGFZQuECs0FZSExzEGiSmuOAx6fWBMe4Sd420lXqw&oe=67F318E0);

}
.hero-section h1 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
}
.hero-section p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
.btn-primary {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 0.8rem 1.8rem;
    text-decoration: none;
    font-weight: bold;
    border-radius: 50px;
    transition: background 0.3s, transform 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
.btn-primary:hover {
    background-color: #363636;
    transition: translateY(-3px);
}

/* seccion de tarjetas */ 
.cards-container {
    padding: 3rem;
    background: #f9f9f9;
}
.cards-container h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    color: black;
}
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax)(200px, 1fr);
    gap: 2rem;
}
.card {
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s;
    color: black;
}
.card :hover {
    transform: scale(1.05);
}
.card img {
    width: 100%;
    height: auto;
}
.card p {
    padding: 0 1rem 1rem;
    font-size: 0.5rem;
}
/*seccion de contacto*/
.contact-section {
    padding: 3rem;
    background: #000;
    color: white;
    text-align: center;
}
.contact-section h2 {
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
}

.contact-section h2 {
    position: relative;
    display: inline-block;
  }
  
  .contact-section h2 .linea-subrayado {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: rgb(255, 230, 0);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
  }
  
  .contact-section h2:hover .linea-subrayado {
    transform: scaleX(1);
  }

#contact-form {
    justify-content: center;
    display: flex;
    align-items: center;    
    flex-direction: column;
    gap: 1.5rem;
    margin: none;
}
#contact-form input, #contact-form textarea {
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 10px;
    outline: none;
}
#contact-form button {
    background: black;
    border: none;
    color: white;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    
    transition: background 0.3s;
}

#contact-form button:hover {
    border-radius: 50px;
    background: white;
    color: #000;
}   

/*Animacion de carga*/
#contact-form button.loading {
    background-color: #ccc;
    cursor: not-allowed;
    position: relative;
}
#contact-form button.loading::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid transparent;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
}

@keyframes spin{
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
        }
        100% {
            transform: translate(-50%, -50%) rotate(360deg);
            }
}

/* seccion acerca de nosotros */
.about-section {
    padding: 3rem;
    text-align: center;
    background: white;
    color: black;
}

.about-section h2 {
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
}

.about-section p {
    font-size: 1.3rem;
}

/* pie de paguina */
footer {
    padding: 1.5rem;
    background: #000;
    color: white;
    text-align: center;
    font-size: 1rem;
}

.flash-messages {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
    width: auto;
}

.alert {
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 10px;
    color: white;
    font-size: 14px;
    animation: fade-in-out 5s forwards;
}

.alert.success {
    background-color: #4CAF50;
}

.alert.danger {
    background-color: #f44336;
}

/* Animacion para desaparecer el mensaje*/
@keyframes fade-in-out {
    0% {opacity: 1;}
    80% {opacity: 1;}
    100% {opacity: 0;}
    }

    /* Diseño responsive*/ 
    @media (max-width: 768px) {
        .nav-links {
            display: none;
            flex-direction: column;
            }

            .nav-links.active {
                display: flex;
                background: #000;
                position: absolute;
                top: 100%;
                right: 0;
                left: 0;
                padding: 1rem;
                }
            .burger {
                display: flex;
            }
        }



















